<div class="grid">
  <div class="col-12 xl:col-6">
    <div class="card">
      <h4 class="header-text">Earn crypto</h4>
      <p class="big-text circle">
        Make tasks,<br />
        earn money<br />
        and withdraw
      </p>

      <div class="bottom-text-block">
        <h4 class="bottom-header-text">Find out more about</h4>
        <p class="bottom-text">Read instructions, output order,<br /> see sample tasks.</p>
        <a href="" class="bottom-link">Coming soon -></a>
      </div>
    </div>
  </div>
  <div class="col-12 xl:col-6">
    <div class="card">
      <h4 class="header-text">Create tasks</h4>
      <p class="big-text square">
        Put human<br />
        insight at the<br />
        core of your AI
      </p>

      <div class="bottom-text-block">
        <h4 class="bottom-header-text">Explore our cases</h4>
        <p class="bottom-text">Case studies from our clients,<br />
          read instructions.</p>
        <a href="" class="bottom-link">Coming soon -></a>
      </div>
    </div>
  </div>
</div>
