.submit-button {
  display: flex;
  margin-left: auto;
}

.cost {
  display: flex;
  justify-content: space-between;
}

.images,
.variants {
  margin-top: 0.5em;

  ul {
    margin: 0.5em 0 0.5em 0;
  }
}

.cancel-icon {
  cursor: pointer;
  font-size: 10px;

  &::before {
    content: '\e90b';
  }
}

:host ::ng-deep {
  .p-fluid .p-fileupload .p-button {
    min-width: 3rem;
  }

  .p-fluid .p-fileupload .p-fileupload-buttonbar .p-button {
    width: auto;
  }

  .field-margin-0 {
    margin-bottom: 0;
  }
}
