<div class="grid">
  <div class="col-12">
    <div class="card">
      <div class="all-tasks-wrapper" *ngIf="!openedTask">
        <!-- <h4>Available tasks</h4> -->
        <h4>Available problems</h4>

        <div class="tasks-wrapper">
          <div *ngFor="let problem of problems">
            <app-task-card [task]="problem"></app-task-card>
          </div>
        </div>
      </div>

      <div class="opened-task" *ngIf="openedTask">
        <app-opened-task [problem]="openedTask"></app-opened-task>
      </div>
    </div>
  </div>
</div>
