<div class="task-wrapper border-round border-1 surface-border p-4">


  <div class="task-header">
    <h5>Task name</h5>
    <div class="price">0.01 for task</div>
  </div>

  <!-- <h6>description</h6> -->
  <label>description</label>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora, modi consequuntur? Molestiae magni doloremque ipsa beatae sequi pariatur perferendis temporibus nulla, accusantium, in labore suscipit animi quam corporis libero repudiandae.</p>

  <div class="task-footer">
    <div></div>
    <button *ngIf="!disableButton" class="submit-button" pButton label="Start"></button>
  </div>

</div>
