.opened-task-wrapper {}

.back-link {
  cursor: pointer;
}

.back-icon {
  transform: rotate(180deg);
  margin-right: 6px;
}


.task-header,
.task-footer {
  display: flex;
  justify-content: space-between;
}


label {
  font-weight: 600;
}

.variants {
  display: flex;
}

.counter {
  margin-bottom: 6px;
  font-weight: 600;
}


.sub-task {

  // &:not(:last-child) {
    margin-bottom: 1em;
  // }

  img {
    max-height: 250px;
    max-width: 100%;
    margin-bottom: 6px;
    border-radius: 6px;
  }

}
